<!--Formulario para ingreso a la página-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Formulario Registro</title>
</head>

<body>
    <section class="form-registro">
        <h4>Formulario Registro</h4>
        <input class="control" type="text" name="nombres" id="nombres" placeholder="Ingrese su nombre">
        <input class="control" type="number" name="numero id" id="numero id" placeholder="Ingrese su número de cédula">
        <input class="control" type="" name="direccion" id="direccion" placeholder="Ingrese su dirección">
        <input class="control" type="number" name="telefono" id="telefono" placeholder="Ingrese su número de telefono">
        <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</p>
        <input class="boton" type="submit" value="Ingresar">
        <p><a href="#">¿Ya tengo cuenta?</p>
    </section>


</body>

</html>