/* Estilo de la pagina de Inicio */
*{
    margin:0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
/*  */
.header-section{
background-color:   #f1b548 ;
}
/* posisionar logo */
.site-logo{
    position: relative;
    top:6px;
    left:10px;
}
.img-logo{
    height: auto;
    width: auto;
    max-width:20rem;
    max-height:20rem;
}
/* posision de barra de menú y buscador */
.site-menu-busqueda{
    position: relative;
    margin-top:-68px;
    margin-left:26rem;
}
/* caracteristicas del buscador */
.input{
    width: 8em;
    font-size: 29px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-left:10px;
    margin-right:10px;
}
/* caracteristicas y modificaciones al menú */
.site-ul li{
  padding: 5px;
    float: left;
    list-style: none;
    margin-left:10px;
    margin-right:10px;
}
.site-ul li a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
}


/* Estilo Cuerpo

Imagen Licor Oferta 1 */

.site-oferta1-img{
    position: relative;
    top: 50px;
    margin-left:15px;
    margin-right:10px;
}

.img-licoroferta1{
    height: 250px;
    width: 1320px;
    border-radius: 20px;
    -webkit-transition: .5s linear;
  transition: .5s linear;
    
}

.img-licoroferta1:hover{
    
    
    -webkit-box-shadow: 0px 20px 14px 2px rgb(241, 181, 72);
    box-shadow: 0px 20px 14px 2px rgb(241, 181, 72);
    

}

/* Imagen Licor Oferta 2 */

.site-oferta2-img{
    float: left;
    margin-top: 90px;
    margin-left: 155px;
    margin-right:70px;
}

.img-licoroferta2{
    height: 380px;
    width: 480px;
    border-radius: 20px;
    -webkit-transition: .5s linear;
  transition: .5s linear;
  
}

.img-licoroferta2:hover{
    
    filter:saturate(100%);
    -webkit-box-shadow: -15px 15px 24px 2px rgb(241, 181, 72);
    box-shadow: -15px 15px 24px 2px rgb(241, 181, 72);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);

}

/* Imagen Licor Oferta 3 */


.site-oferta3-img{
    
    margin-top: 90px;
    
}

.img-licoroferta3{
    height: 380px;
    width: 480px;
    border-radius: 20px;
    -webkit-transition: .5s linear;
    transition: .5s linear;
    
}
.img-licoroferta3:hover{
    
    filter:saturate(200%);
    -webkit-box-shadow: 15px 15px 24px 2px rgb(241, 181, 72);
    box-shadow: 15px 15px 24px 2px rgb(241, 181, 72);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);

}


	


.text-new{
    margin-top: 35px;
    margin-left: 500px;
}
/* Codigos de paleta de colores  */
/* .color1 {color: #3d1818;}
.color2 {color: #5f2d22;}
.color3 {color: #894d2d;}
.color4 {color: #bb7939;}
.color5 {color: #f1b548;} */