/*Estilo formulario de registro*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    background-image: url('view\src\images\locoreria-form.jpg');
    margin-bottom: 100px;

}

.form-registro{
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Times';
    color: black;
    box-shadow: 7px 13px 37px #000;
}

.form-registro h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.control{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ffcd4e;
    font-family: 'Times';
    font-size: 18px;
}

.form-registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-registro a{
    color: black;
    text-decoration: none;
}

.form-registro a:hover{
    color: black;
    text-decoration: underline;
}

.form-registro .boton{
    font-weight: bold;
    width: 100%;
    background: #ffc92c;
    border: none;
    padding: 12px;
    color: black;
    font-family: 'Times';
    margin: 16px 0;
    font-size: 16px;


}