<!--Locoreria -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locoreria</title>
    <!-- conectar a fonts-awesome -->
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/view/style/estilo.css">
    


</head>
<body>
    <!-- Inicio de el header de la página -->
    <header class="header-main">
    <div class="header-section">
        <div class="site-logo">
            <img src="/view/src/images/logo1p.png" alt="" class="img-logo">
        </div>
    </div>

    <div class="site-menu-busqueda">
    <!-- Inicio menú navegación-->
    <div class="site-menu">
        <nav>
            <ul class="site-ul">
                <li><a href="index.html"><i class="fas fa-home"  ></i>Inicio</a></li>
                <li><a href="indcontactos.html"><i class="fas fa-phone"></i>contactos</a></li>
                <li><a href="indmediospago.html"><i class="fas fa-dollar-sign"></i>Medios de pago</a></li>
            </ul>
        </nav>
    </div>
    


    <!--Buscador productos-->
    <div class="site-input">
    <input type="text" class="input"> <i class="fas fa-search"></i>
    </div>
    </div>
    </header>
    <!-- Fin del header -->
    
</body>
</html>