<!--Pagina de Mediosde pago -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Conectar a fonts-awesome y a estiloMediosP.css -->
    <link rel="stylesheet" href="/view/style/estiloMediosP.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Loreria/Medios-de-pago</title>
</head>
<body>
    <header class="header-main">
        <div class="header-section">
            <div class="site-logo">
                <img src="/view/src/images/logo1p.png" alt="" class="img-logo">
            </div>
        </div>
    
        <div class="site-menu-busqueda">
            <!-- Inicio menú navegación-->
            <div class="site-menu">
                <nav>
                    <ul class="site-ul">
                        <li><a href="index.html"><i class="fas fa-home"></i> Inicio </a></li>
                        <li><a href="nuevosProductos.html"><i class="fas fa-glass-cheers"></i> Nuevos productos </a></li>
                        <li><a href="mediosPago.html"><i class="fas fa-dollar-sign"></i> Medios de pago </a></li>
                    </ul>
                </nav>
            </div>

            <!--Buscador productos-->
            <div class="site-input">
                <input type="text" class="input"> <i class="fas fa-search"></i>
            </div>
        </div>
    </header>
<!-- Fin del header -->


<!--Inicio cuerpo-->

    <h1 class="h1-titulo">!Preciona La imagen¡</h1>
    <div class="site-body">
    <div class="conte">
        <div class="card num1">
            <a href="https://www.paypal.com/co/home" target="_blank"><img src="/view/src/images/paypal-logo.png" alt="" class="img1"></a>
        </div>
        </div>
    

    
        <div class="conte">
            <div class="card num1">
                <a href="https://www.nequi.com.co/" target="_blank"><img src="/view/src/images/nequi-logo.png" alt="" class="img2"></a>
            </div>    
        </div>
        

        <div class="conte">
                <div class="card num1">
                    <a href="https://www.daviplata.com/wps/portal/daviplata/Home/QueEsDaviPlata/!ut/p/z1/hY7BDoIwEES_hQNXdgUU462gQY3R4EGhFwOmFkyhpFT4fWs8kWCc2-68mQxQSIE2eV_xXFeyyYW5M7q4BYmP28ifHWMSbTBBN9itLx5i7MP1H0CNjT9E0OTpBEIwPLvhp-DkTgKjjj1QLmTxnUuawltyoIo9mGLKeSnzLrVuu5WNNg7D4HApuWDOXdY2TkVK2WlIxyS0dYrPuegPxLLeIhg6wg!!/dz/d5/L2dBISEvZ0FBIS9nQSEh/" target="_blank"><img src="/view/src/images/logo-Daviplata.png" alt="" class="img3"></a>
                </div>
            </div>
            
    </div>


</body>
</html>